<ion-view view-title="About">
  <ion-content>
      <div class="card">
          <div class="item item-divider">
              Out and Up mobile application 
          </div>
          <div class="item item-text-wrap">
              <p>Out and Up is a company which creates outdoor expriences for people of all ages</p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="http://www.ict4u.net/UpAndOut/homepage.html">
                  <i class="icon ion-home"></i>
                      Home
              </a>
              <!-- I just search Google for 'Out and Up' and the social network I just picked the first one -->
              <a class="tab-item" href="https://www.facebook.com/upandoutcomic">
                  <i class="icon ion-social-facebook"></i>
                      Facebook
              </a>
              <a class="tab-item" href="https://twitter.com/out_tuks">
                  <i class="icon ion-social-twitter"></i>
                      Twitter
              </a>
          </div>
      </div>
  </ion-content>
</ion-view>
