<ion-view view-title="{{places[id].name}}">
	<ion-content>
		<ion-list>
	   		<div class="item item-divider">
				Attractions
			</div>
			<!-- General wrapper for list (for use with 'the ng-repeat' -->
			<div ng-repeat="attraction in places[id].attractions">
				<ion-item ng-click="toggleAttraction(attraction)" ng-class="{ active: isAttractionShown(attraction)}">
					<i class="icon" ng-class="isAttractionShown(attraction) ? 'ion-minus' : 'ion-plus'"></i>
					{{ attraction.name }}	
				</ion-item>
				<ion-item class="item-accordion" ng-show="isAttractionShown(attraction)">
					{{ attraction.review }}
				</ion-item>
			</div>
			<div class="item item-divider">
				Reviews
			</div>
			<!-- General wrapper for list (for use with 'the ng-repeat' -->
			<div ng-repeat="review in places[id].reviews">
				<ion-item ng-click="toggleAttraction(review)" ng-class="{ active: isAttractionShown(review)}">
					<i class="icon" ng-class="isAttractionShown(review) ? 'ion-minus' : 'ion-plus'"></i>
					{{ review.title }}
				</ion-item>
				<ion-item class="item-accordion" ng-show="isAttractionShown(review)">
					{{ review.body }}
					<!-- BUG: Cannot edit star rating -->
					<rating ng-model="review.stars" max="max" ng-readonly="true"></rating>
				</ion-item>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
