<ion-view ng-controller="PlaceCtrl" view-title="{{places[id].name}} Attractions">
    <ion-content>
        <div ng-if="!attractionId && !placeId">
            <div ng-repeat="attraction in places[id].attractions">
                <!-- Insert logos here -->
                <div class="list card">
                    <div class="item item-divider">
                        {{ attraction.name }}
                    </div>
                    <div class="item item-text-wrap">
                        Description: {{ attraction.description }}
                    </div>
                    <div class="item tabs tab-secondary tabs-icon-left">
                        <a class="tab-item" href="#/app/places/{{id}}/reviews">
                            <i class="icon ion-chatbox-working"></i>
                            Reviews
                        </a>
                    </div>	
                </div>
            </div>
        </div>
        <div ng-else>
            <!-- The realtionship between the descriptions and places is complex -->
            <div class="list card">
                <div class="item item-divider">
                    {{ attractionDescription[attractionId].name }}
                </div>
                <div class="item item-text-wrap">
                    Description: {{ attractionDescription[attractionId].description }}
                </div>
                <div class="item item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#/app/places/{{id}}/reviews">
                        <i class="icon ion-chatbox-working"></i>
                            Reviews
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>