<ion-view view-title="{{places[id].name}}">
	<ion-content>
		<div lass="list card">

			<div class="item item-text-wrap">
				{{ places[id].description }}	
			</div>
			<div class="item tabs tab-secondary tabs-icon-left">
				<a class="tab-item" href="#/app/places/{{id}}/reviews">
					<i class="icon ion-chatbox-working"></i>
					Reviews
				</a>
				<a class="tab-item" href="#/app/places/{{id}}/attractions">
					<i class="icon ion-happy"></i>
					Attractions
				</a>
                <a class="tab-item" href="#/app/places/{{id}}/location">
					<i class="icon ion-location"></i>
					Map
				</a>
                <a class="tab-item" href="#/app/places/{{id}}/book">
					<i class="icon ion-cash"></i>
					Book
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>
